<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.datatom.datrix3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".app"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".Service.TaskService" />

        <activity android:name=".Activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.MainActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".Activities.AboutActivity" />
        <activity
            android:name=".Activities.ViewBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ViewBigPicTheme" />
        <activity
            android:name=".Activities.PlayVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.TaskListActivity" />
        <activity android:name=".Activities.PDFViewerActivity" />
        <activity android:name=".Activities.OfficeFileShowActivity" />
        <activity android:name=".Activities.PreviewTXTFileActivity" />
        <activity android:name=".Activities.FileDetilActivity" />
        <activity android:name=".Activities.SearchResultActivity" />
        <activity android:name=".Activities.TrashActivity" />
        <activity android:name=".Activities.SharedFilesActivity" />
        <activity android:name=".Activities.FileCollectWebViewActivity" />
        <activity android:name=".Activities.SaomaActivity" />
        <activity android:name=".Activities.SettingsActivity" />
        <activity android:name=".Activities.ChoseDownloadDirActivity"></activity>
    </application>

</manifest>